{
    "parser": "babel-eslint",

    "extends": [
        "eslint:recommended"
    ],

    "plugins": [
        "@typescript-eslint",
        "import"
    ],

    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jasmine": true
    },

    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },

    "rules": {
        "consistent-return": 2,
        "no-mixed-operators": 0,
        "no-useless-constructor": 0,
        "standard/computed-property-even-spacing": 0,
        "import/first": 0,
        "no-unused-vars": 2,
        "no-console": 2,

        "indent": ["error", 4, {"SwitchCase": 1}],
        "semi": ["error", "always"],
        "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
        "radix": ["off"]
    }
}
