html {
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

canvas {
    height: 100%;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
}
